
root = true

[*.{kt,kts}]
indent_size = 4
continuation_indent_size = 4
disabled_rules=function-naming,indent,parameter-list-wrapping,parameter-list-wrapping

# Compose specific rules
[*.kt]
# Disable specific rules for Jetpack Compose
ktlint_disabled_rules=indent